In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
filepath='../data/'

# Load the data from CSV files

purchase_prices = pd.read_csv(filepath + '2017PurchasePricesDec.csv')
df_beg_inventory = pd.read_csv(filepath + 'BegInvFINAL12312016.csv')
df_end_inventory = pd.read_csv(filepath + 'EndInvFINAL12312016.csv')
df_invoice_purchases = pd.read_csv(filepath + 'InvoicePurchases12312016.csv')
df_purchases = pd.read_csv(filepath + 'PurchasesFINAL12312016.csv')
sales = pd.read_csv(filepath + 'SalesFINAL12312016.csv')

## prepocessing

In [3]:
purchase_prices.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

In [4]:
len(purchase_prices['Brand'].unique()),len(purchase_prices['VendorNumber'].unique())

(12261, 131)

In [5]:
purchase_prices.isnull().sum()
# as we can see we have null values in columns:- descrition, Size, Volume.

Brand             0
Description       1
Price             0
Size              1
Volume            1
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
dtype: int64

In [6]:
# Checking the null value the null values
purchase_prices[purchase_prices['Description'].isnull()]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
7915,4202,NaN,0.0,NaN,NaN,1,11.19,480,BACARDI USA INC

In [7]:
purchase_prices['Description'] = purchase_prices['Description'].fillna('')
purchase_prices['Size'] = purchase_prices['Size'].fillna(0)
purchase_prices['Volume'] = purchase_prices['Volume'].fillna(0)

In [8]:
purchase_prices.isnull().sum()
# as we can see we have null values in columns:- descrition, Size, Volume.

Brand             0
Description       0
Price             0
Size              0
Volume            0
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
dtype: int64

In [9]:
purchase_prices.dtypes

Brand               int64
Description        object
Price             float64
Size               object
Volume             object
Classification      int64
PurchasePrice     float64
VendorNumber        int64
VendorName         object
dtype: object

**Sales data prepocessing**

In [10]:
sales.head()

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/1/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,1/2/2016,750,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/3/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,1/8/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,1/9/2016,375,1,0.79,12546,JIM BEAM BRANDS COMPANY

In [11]:
len(sales['Brand'].unique()),len(sales['Store'].unique()),len(sales['VendorNo'].unique())

(7658, 79, 116)

In [12]:
sales.isnull().sum()

InventoryId       0
Store             0
Brand             0
Description       0
Size              0
SalesQuantity     0
SalesDollars      0
SalesPrice        0
SalesDate         0
Volume            0
Classification    0
ExciseTax         0
VendorNo          0
VendorName        0
dtype: int64

In [13]:
sales.dtypes

InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
SalesQuantity       int64
SalesDollars      float64
SalesPrice        float64
SalesDate          object
Volume              int64
Classification      int64
ExciseTax         float64
VendorNo            int64
VendorName         object
dtype: object

In [14]:
# calculating the total amount of a sale
sales['Amount']=sales['SalesDollars']+sales['ExciseTax']

In [15]:
#merge sales of each product with its actual purchase price
sales_and_purchase_prices=sales.merge(purchase_prices[['Brand','PurchasePrice']], how='left', on='Brand',suffixes=('_sale','_purchase'))
sales_and_purchase_prices.head()

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName,Amount,PurchasePrice
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/1/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY,17.28,10.65
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,1/2/2016,750,1,1.57,12546,JIM BEAM BRANDS COMPANY,34.55,10.65
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/3/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY,17.28,10.65
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,1/8/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY,15.28,10.65
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,1/9/2016,375,1,0.79,12546,JIM BEAM BRANDS COMPANY,70.77,27.34

In [16]:
# as you can see, there are no null values in the sales data, so no processing is required
sales_and_purchase_prices.isnull().sum()

InventoryId       0
Store             0
Brand             0
Description       0
Size              0
SalesQuantity     0
SalesDollars      0
SalesPrice        0
SalesDate         0
Volume            0
Classification    0
ExciseTax         0
VendorNo          0
VendorName        0
Amount            0
PurchasePrice     0
dtype: int64

Some errors have been encountered in the sales data that require processing.

Issues:

The 'Size' column contained diverse forms of measurements and various formats. For instance, sizes could appear as "750mL + 2/", "3/100mL", "50mL 4 Pk", "1 gal", or "5 oz".
Trailing spaces found on VendorName.
Some date columns are wrongly formated.
Preprocessing steps:

Standardizing text columns: The 'Description' and 'City' columns should be processed to remove leading and trailing spaces.

Standardize Size into a uniform unit (mL)

If the size included a '+' sign, only considered the main component and disregarded the rest.
For sizes formatted as "number/unit", split the number and the unit. Then convert 'oz' to mL by multiplying by 29.5735 and left 'ml' as is.
For sizes formatted as "number mL number Pk", split the string by the space. The first part became the size, and extracted the number of packs from the second part to calculate the total volume.
For sizes given in 'gal' and 'oz', convert them into mL using the appropriate conversion factors.
For sizes in 'l' and 'ml', strip away the units and kept only the numeric part, ensuring multiplied liters by 1000 to convert to milliliters.
Some examples of the transformations:

- "750mL + 2/" --> 750.0
- "3/100mL" --> 300.0
- "50mL 4 Pk"--> to 200.0
- "1 gal" --> 3785.41
- "5 oz" --> 147.8675

In [17]:
# to carry out the processing described above, we have defined two functions preprocess_size,
# preprocess_sales_df which you can find in "src/data_preprocessing". 

import sys
import os
sys.path.append(os.path.abspath('../src'))

from data_preprocessing_utils import preprocess_size,preprocess_sales_df


sales_and_purchase_prices = preprocess_sales_df(sales_and_purchase_prices)

In [18]:

# Supposons que votre DataFrame s'appelle 'df' et que vous voulez l'enregistrer dans un fichier nommé 'dataframe.csv'
# sales_processed.to_csv('/content/drive/MyDrive/sales.csv', index=False)
sales_and_purchase_prices.head(5)

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName,Amount,PurchasePrice
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750.0,1,16.49,16.49,2016-01-01,750,1,0.79,12546,JIM BEAM BRANDS COMPANY,17.28,10.65
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750.0,2,32.98,16.49,2016-01-02,750,1,1.57,12546,JIM BEAM BRANDS COMPANY,34.55,10.65
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750.0,1,16.49,16.49,2016-01-03,750,1,0.79,12546,JIM BEAM BRANDS COMPANY,17.28,10.65
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750.0,1,14.49,14.49,2016-01-08,750,1,0.79,12546,JIM BEAM BRANDS COMPANY,15.28,10.65
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,750.0,2,69.98,34.99,2016-01-09,375,1,0.79,12546,JIM BEAM BRANDS COMPANY,70.77,27.34

Save data preprocessing

In [19]:
sales.to_csv('../data/prepocessing/sales.csv', index=False)
sales_and_purchase_prices.to_csv('../data/prepocessing/sales_and_purchase_prices.csv', index=False)